<html>
	<head>
		<link href="{{ root }}css/core/block-plugin-twitter-bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="{{ root }}css/core/block-plugin-twitter-bootstrap/bootstrap-theme.css" rel="stylesheet" type="text/css" />
		<link href="{{ root }}css/core/block-plugin-twitter-bootstrap/bootstrap-responsive-min.css" rel="stylesheet" type="text/css" />
		<link href="{{ root }}css/core/block-host/style.css" rel="stylesheet" type="text/css" />
		<link href="{{ root }}css/core/block-module-sites/admin.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class='container'>
			<div class='row'>
				<div class='col-xs-6'>
					<h1>Admin Website</h1>
				</div>
				<div class='col-xs-6'>
					<div class='menu-container'>
						{% block menu %}
							<ul class="nav nav-pills" role="tablist">
								{% for menuItem in menuItemArray %}
									<li role="presentation" {% if menuItem.active %}class="active"{% endif %}><a href="{{ menuItem.link }}">{{ menuItem.label }}</a></li>
								{% endfor %}
							</ul>
						{% endblock %}
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-12'>
					{% block body %}{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>